{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h1>Create new Tag</h1>

    {{ include('crud_tag/_form.html.twig') }}

    <a href="{{ path('app_crud_tag_index') }}">back to list</a>
{% endblock %}
